<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <title>Wrestle Tweet Generator</title>
        <!-- CSS Sheets -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/materialize.min.css" media="screen"/>
        <link href="../static/style.css" type="text/css" rel="stylesheet" media="screen"/>
        <script type="text/javascript" src="../static/materialize.min.js"></script>
    {% endblock %}
</head>
<body>
<!-- header NAV -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="grey-text">Wrestling Tweet Generator</h2>
        </div>
    </div>
</div>

<!-- MAIN -->
<div class="container">
    <br><br>
    <div class="row">
        <div class="col s12">
            <div class="card light-blue lighten-1">
                <div class="card-content white-text">
                    {% block content %}
                    {% endblock %}
                 <div class="card-action">
          <a href="/home.html">Refresh tweet</a>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER-->
<footer class="page-footer lime lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 grey-text text-darken-3">
                <p>
                    Footer stufgf heree</h5><br>

            </div>
        </div>
    </div>


</footer>

</body>
</html>
